<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{message}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a class="nav-link active" style="font-family:SansSerif;font-size: 20px;color:#0e8eab" href="/tickettype/options">
                    <span data-feather="home"></span>
                    View Tickets <span class="sr-only">(current)</span>
                </a>            </div>

        </div>
    </div>



    {{#if home}}
        {{>intro}}

    {{else}}

    {{/if}}

    {{#if tickettype}}
        <h2>{{tickettype}}</h2>

    {{else}}

    {{/if}}

    {{#if form}}
     {{>form}}
    {{else}}

    {{/if}}

    {{#if options}}

        {{>options}}

    {{else}}

    {{/if}}

    {{#if table}}
        {{>table}}

    {{else}}

    {{/if}}

    {{#if single}}
        {{>display}}

    {{else}}

    {{/if}}


</main>